# {{ ansible_managed }}

[Unit]
Description={{ item.description|d(item.name) }}
After=network.target

[Service]
User={{ python_deploy__user }}
Group={{ python_deploy__group }}
WorkingDirectory={{ item.working_directory|d(python_deploy__path_app) }}
EnvironmentFile={{ python_deploy__path_root }}/env.d/*.conf
{% for opt in item.service_options|d([]) %}
{{ opt }}
{% endfor %}

ExecStart={{ python_deploy__path_venv}}/bin/python \
    {{ item.script_path }} \
{% for opt in item.script_options|d([]) %}
    {{ opt }}{% if not loop.last %}     \{% endif %}

{% endfor %}
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp={{ item.private_tmp | d("true") }}
{% if item.restart|d(python_deploy__service_default_restart)|d(False) %}
Restart={{ item.restart|d(python_deploy__service_default_restart) }}
RestartSec={{ item.restart_sec|d(python_deploy__service_default_restart_sec) }}
{% endif %}
{% if item.pid_file|d(False) %}
PIDFile={{ item.pid_file }}
{% endif %}

[Install]
WantedBy=multi-user.target

