# {{ ansible_managed }}

{% for item in python_deploy__combined_app_environment | parse_kv_items %}
{%   if item.comment|d() %}
{{ item.comment | regex_replace('\n$','') | comment() }}
{%   endif %}
{%   if item.state|d('present') not in [ 'absent', 'ignore' ] %}
{{ item.name }}='{{ item.value }}'
{%   else %}
# {{ item.name }} is disabled
{%   endif %}
{% endfor %}
