# {{ ansible_managed }}

# based on python_deploy__environment_venv:

{% for key, value in python_deploy__environment_venv.items() %}
{{ key }}={{ value }}
{% endfor %}

{% if python_deploy__type == 'git_with_poetry' %}
PATH=$HOME/.local/pipx/venvs/poetry/bin:$PATH
{% endif %}
